
{:paths ["source-code/cljs"]
 :deps  {bithandshake/cljc-fruits                {:git/url "https://github.com/bithandshake/cljc-fruits"
                                                  :sha     "5a8fe695f3cf66db95a9676f872dc583ac310f2d"}
         bithandshake/cljs-dom                   {:git/url "https://github.com/bithandshake/cljs-dom"
                                                  :sha     "023c3eee627904db8020bfd49e47b4404bc7d613"}
         bithandshake/cljs-intersection-observer {:git/url "https://github.com/bithandshake/cljs-intersection-observer"
                                                  :sha     "023c3eee627904db8020bfd49e47b4404bc7d613"}
         mt-app-kit/cljc-metamorphic-content     {:git/url "https://github.com/mt-app-kit/cljc-metamorphic-content"
                                                  :sha     "023c3eee627904db8020bfd49e47b4404bc7d613"}
         org.clojure/clojurescript               {:mvn/version "1.10.891"}
         reagent/reagent                         {:mvn/version "1.2.0"}}}
