
{:paths ["source-code/cljs"]
 :deps  {mt-app-kit/cljc-common-state            {:git/url "https://github.com/mt-app-kit/cljc-common-state"
                                                  :sha     "ad5cd966af6a6e3f56b78fbf7a808d442d14b547"}
         mt-app-kit/cljc-multitype-content       {:git/url "https://github.com/mt-app-kit/cljc-multitype-content"
                                                  :sha     "307c2c2168775ccc45f4b71a5dbbfab66c46c7e7"}
         mt-app-kit/cljs-intersection-observer   {:git/url "https://github.com/mt-app-kit/cljs-intersection-observer"
                                                  :sha     "307c2c2168775ccc45f4b71a5dbbfab66c46c7e7"}
         mt-app-kit/cljs-react-references        {:git/url "https://github.com/mt-app-kit/cljs-react-references"
                                                  :sha     "ad5cd966af6a6e3f56b78fbf7a808d442d14b547"}
         mt-extensions/reagent-utils             {:git/url "https://github.com/mt-extensions/reagent-utils"
                                                  :sha     "0527ffbf5a08305dfd4376a78c007f53c1a311b2"}
         bithandshake/cljc-fruits                {:git/url "https://github.com/bithandshake/cljc-fruits"
                                                  :sha     "e2fb9d3ec28fb80d464ee31a73f6d999b4a7bd87"}
         mt-utilities/cljs-dom                   {:git/url "https://github.com/mt-utilities/cljs-dom"
                                                  :sha     "307c2c2168775ccc45f4b71a5dbbfab66c46c7e7"}
         org.clojure/clojurescript               {:mvn/version "1.10.891"}
         reagent/reagent                         {:mvn/version "1.2.0"}}}
